.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:rgb(255, 253, 253) !important;
}

.btn-secondary,.dropdown-item:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
      }

.new {

    margin-top:-10px;color:pink !important;
    font-family:ToyorAljanah;
    font-size:2.25rem;
    font-weight:bolder
}


Form button{
  font-weight:bold;font-family:'JF Flat';font-size:1.0rem
}

.cc {

padding-right: 10px;
}

.dropdown-item,.dropdown-toggle {
  cursor: pointer;
}

